mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="User's profile picture.")
        .textareaContainer
            input#postTextArea(placeholder="What's happening?") 
            .buttonsContainer 
                button#submitPostButton(disabled="") Post

